{
  "plugins": [
    "@babel/plugin-syntax-dynamic-import"
  ],
  "presets": [
    [
      "@babel/preset-env",
      {
        // "debug": true,
        "useBuiltIns": "usage",
        "corejs": 3
      }
    ]
  ]
}